<template>
  <div>
    <NavigationView
      :isNavOpenVar="isNavOpen"
      @menu-icon-click="menuIconClickHandle"
    />
    <section>
      <div class="flex">
        <LeftNavigationView :isLeftNavOpen="isNavOpen" />
        <div class="shrink-0 flex-1 h-full bg-gray-200">
          <div class="mt-4 p-4">
            <div class="flex">
              <div
                v-for="(tab, index) in tabs"
                :key="index"
                @click="activeTab = tab.name"
                :class="{
                  ' hover:bg-[#d1d1d1] border-b-2 border-black ':
                    activeTab === tab.name,
                  ' hover:bg-[#d1d1d1]': activeTab !== tab.name,
                }"
                class="px-4 py-2 items-center space-x-2 focus:outline-none"
              >
                <div>
                  <img :src="tab.iconUrl" alt="" class="w-6 h-6 mx-auto" />
                </div>
                <div>
                  <span class="text-black mb-0">{{ tab.name }}</span>
                </div>
              </div>
            </div>

            <!-- Tab content -->
            <div class="mt-4 p-4 bg-white shadow-2xl ">
              <div v-if="activeTab === 'OUTBOUND'">
                <!-- Content for Tab 1 -->
                <div class="h-[740px] p-8 gap-x-8">
                  <div class="text-gray-800 text-lg flex justify-between">
                    Total Sales Chart
                    <label
                      for=""
                      class="row no-wrap border h-14 border-[#d1d1d1] w-[390px] p-8 rounded-lg flex justify-between items-center"
                    >
                      <div>
                        <span class="text-sm">Select Product</span>
                        <div class="text-lg">Total Sales</div>
                      </div>
                      <div class="row no-wrap">
                        <i class="material-icons cursor-pointer"
                          >arrow_drop_down</i
                        >
                      </div>
                    </label>
                  </div>
                  <div class="border border-b-1 border-black mt-[500px]"></div>
                </div>
              </div>
              <div v-if="activeTab === 'INBOUND'">
                <!-- Content for Tab 2 -->
                <div class="h-[740px] p-8 gap-x-8">
                  <div class="text-gray-800 text-lg flex justify-between">
                    Total Receipts Chart
                    <label
                      for=""
                      class="row  border h-14 border-[#d1d1d1] w-[390px] p-8 rounded-lg flex justify-between items-center"
                    >
                      <div>
                        <span class="text-sm mr-6">Select Product</span>
                        <div class="text-lg">Total Receipts</div>
                      </div>
                      <div class="row">
                        <i class="material-icons cursor-pointer"
                          >arrow_drop_down</i
                        >
                      </div>
                    </label>
                  </div>
                  <div class="border border-b-1 border-black mt-[500px]"></div>
                </div>
              </div>


              <div v-if="activeTab === 'INBOUND AND OUTBOUND'">
                <!-- Content for Tab 3 -->
                <div class="h-[740px] p-4 ">
                  <div class="flex justify-between items-center">
                     <div class="flex gap-x-6 border p-1.5">
                      <div class="text-center">
                        <button class="flex gap-x-2">
                            <span class="material-icons">refresh</span>
                            <span class="uppercase text-xl">refresh</span>
                        </button>
                    </div>
                    </div>

                    <div class="flex items-center">
                      <div
                        class="border border-[#d1d1d1] rounded-2xl px-2 pt-1 hover:border-black"
                      >
                        <input type="text" placeholder="Search World" class="outline-none mb-1" /><span
                          class="material-icons"
                          >search</span
                        >
                      </div>
                    </div>
                  </div>

                  <div>
                    <table class="w-full mt-6">
                      <thead>
                        <tr class="border divide-x h-12">
                          <th class=" text-center text-sm">
                            Goods Code
                          </th>
                          <th class=" text-center text-sm">
                            Location Name
                          </th>
                          <th class=" text-center text-sm">
                            Goods Desc
                          </th>
                          <th class=" text-center text-sm">
                            Mode Of Doing Business
                          </th>
                          <th class=" text-center text-sm">
                            Quantity On Hand
                          </th>
                          <th class=" text-center text-sm">Creater</th>
                          <th class=" text-center text-sm">
                            Create Time
                          </th>
                          <th class=" text-center text-sm">
                            Update Time
                          </th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </section>
  </div>
</template>

<script>
import LeftNavigationView from "../components/LeftNavigationView.vue";
import NavigationView from "../components/NavigationView.vue";

export default {
  name: "DashboardView",
  components: {
    NavigationView,
    LeftNavigationView,
  },
  data() {
    return {
      isNavOpen: true,
      tabs: [
        {
          name: "OUTBOUND",
          iconUrl: require("@/assets/dashimg/out_statement.png"),
        },
        {
          name: "INBOUND",
          iconUrl: require("@/assets/dashimg/in_statement.svg"),
        },
        {
          name: "INBOUND AND OUTBOUND",
          iconUrl: require("@/assets/dashimg/in_and_out_statement.svg"),
        },
      ],
      activeTab: "OUTBOUND",
    };
  },
  methods: {
    menuIconClickHandle(isClicked) {
      this.isNavOpen = isClicked;
    },
  },
};
</script>

<style></style>
