<template>
  <div>
    <NavigationView
      :isNavOpenVar="isNavOpen"
      @menu-icon-click="menuIconClickHandle"
    />
    <section>
      <div class="flex">
        <LeftNavigationView :isLeftNavOpen="isNavOpen" />
        <div class="shrink-0 flex-1 h-full bg-gray-200">
          <div class="mt-4 p-4">
            <div class="flex">
              <div
                v-for="(tab, index) in tabs"
                :key="index"
                @click="activeTab = tab.name"
                :class="{
                  ' hover:bg-[#d1d1d1] border-b-2 border-black ':
                    activeTab === tab.name,
                  ' hover:bg-[#d1d1d1]': activeTab !== tab.name,
                }"
                class="px-4 py-2 items-center space-x-2 focus:outline-none"
              >
                <div>
                  <img :src="tab.iconUrl" alt="" class="w-6 h-6 mx-auto" />
                </div>
                <div>
                  <span class="text-black mb-0">{{ tab.name }}</span>
                </div>
              </div>
            </div>

            <div class="mt-4 p-4 bg-white shadow-2xl">
              <div v-if="activeTab === 'STOCK LIST'">
                <div class="h-[660px] p-4">
                  <div class="flex justify-between items-center">
                     <div class="flex gap-x-6 border p-1.5">
                      <div class="text-center">
                        <button class="flex gap-x-2">
                            <span class="material-icons">refresh</span>
                            <span class="uppercase text-xl">refresh</span>
                        </button>
                    </div>
                    </div>

                    <div class="flex items-center">
                      <div
                        class="border border-[#d1d1d1] rounded-2xl px-2 pt-1 hover:border-black"
                      >
                        <input type="text" placeholder="Search World" class="outline-none mb-1" /><span
                          class="material-icons"
                          >search</span
                        >
                      </div>
                    </div>
                  </div>
                  <div>
                    <table class="w-full mt-6">
                      <thead>
                        <tr class=" border divide-x h-12">
                          <th class=" text-center text-sm">
                            Goods Code
                          </th>

                          <th class=" text-center text-sm">
                            Goods Desc
                          </th>
                          <th class=" text-center text-sm">
                            Total Qty
                          </th>
                          <th class=" text-center text-sm">On hand</th>
                          <th class=" text-center text-sm">
                            Can Order
                          </th>
                          <th class=" text-center text-sm">
                            Order Stock
                          </th>
                          <th class=" text-center text-sm">Inspect</th>
                          <th class=" text-center text-sm">Holding</th>
                          <th class=" text-center text-sm">Damage</th>
                          <th class=" text-center text-sm">
                            ASN Stock
                          </th>
                          <th class=" text-center text-sm">DN Stock</th>
                          <th class=" text-center text-sm">Pre Load</th>
                          <th class=" text-center text-sm">Pre Sort</th>
                          <th class=" text-center text-sm">
                            Sotred Stock
                          </th>
                          <th class=" text-center text-sm">
                            Pick stock
                          </th>
                          <th class=" text-center text-sm">
                            Picked stock
                          </th>

                          <th class=" text-center text-sm">
                            Back Order
                          </th>
                          <th class=" text-center text-sm">
                            Create Time
                          </th>
                          <th class=" text-center text-sm">
                            Update Time
                          </th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>
                </div>
              </div>

              <div v-if="activeTab === 'BIN LIST'">
                <div class="h-[660px] p-4">
                  <div class="flex justify-between items-center">
                      <div class="flex gap-x-6 border p-1.5">
                      <div class="text-center">
                        <button class="flex gap-x-2">
                            <span class="material-icons">refresh</span>
                            <span class="uppercase text-xl">refresh</span>
                        </button>
                    </div>
                    </div>
                    <div class="flex items-center">
                      <div
                        class="border border-[#d1d1d1] rounded-2xl px-2 pt-1 hover:border-black"
                      >
                        <input type="text" placeholder="Search World" class="outline-none mb-1" /><span
                          class="material-icons"
                          >search</span
                        >
                      </div>
                    </div>
                  </div>
                  <div>
                    <table class="w-full mt-6">
                      <thead>
                        <tr class="border  divide-x h-12">
                          <th class=" text-center text-sm">Bin Name</th>
                          <th class=" text-center text-sm">
                            Goods Code
                          </th>
                          <th class=" text-center text-sm">
                            Goods Desc
                          </th>
                          <th class=" text-center text-sm">On hand</th>
                          <th class=" text-center text-sm">
                            Pick Stock
                          </th>
                          <th class=" text-center text-sm">
                            Picked Stock
                          </th>
                          <th class=" text-center text-sm">Bin Size</th>

                          <th class=" text-center text-sm">
                            Bin Property
                          </th>
                          <th class=" text-center text-sm">
                            Update Time
                          </th>
                          <th class=" text-center text-sm">Action</th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>
                </div>
              </div>

              <div v-if="activeTab === 'EMPTY BIN'">
                <div class="h-[660px] p-4">
                  <div class="flex justify-between items-center">
                      <div class="flex gap-x-6 border p-1.5">
                      <div class="text-center">
                        <button class="flex gap-x-2">
                            <span class="material-icons">refresh</span>
                            <span class="uppercase text-xl">refresh</span>
                        </button>
                    </div>
                    </div>

                    <div class="flex items-center">
                      <div
                        class="border border-[#d1d1d1] rounded-2xl px-2 pt-1 hover:border-black"
                      >
                        <input type="text" placeholder="Search World" class="outline-none mb-1" /><span
                          class="material-icons"
                          >search</span
                        >
                      </div>
                    </div>
                  </div>
                  <div>
                    <table class="w-full mt-6">
                      <thead>
                        <tr class="border  divide-x h-12">
                          <th class=" text-center text-sm">Bin Name</th>
                          <th class=" text-center text-sm">Bin Size</th>

                          <th class=" text-center text-sm">
                            Bin Property
                          </th>
                          <th class=" text-center text-sm">
                            Empty Label
                          </th>
                          <th class=" text-center text-sm">Creater</th>
                          <th class=" text-center text-sm">
                            Create Time
                          </th>
                          <th class=" text-center text-sm">
                            Update Time
                          </th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>
                </div>
              </div>

              <div v-if="activeTab === 'OCCUPIED BIN'">
                <div class="h-[660px] p-4">
                  <div class="flex justify-between items-center">
                      <div class="flex gap-x-6 border p-1.5">
                      <div class="text-center">
                        <button class="flex gap-x-2">
                            <span class="material-icons">refresh</span>
                            <span class="uppercase text-xl">refresh</span>
                        </button>
                    </div>
                    </div>

                    <div class="flex items-center">
                      <div
                        class="border border-[#d1d1d1] rounded-2xl px-2 pt-1 hover:border-black"
                      >
                        <input type="text" placeholder="Search World" class="mb-1 outline-none" /><span
                          class="material-icons"
                          >search</span
                        >
                      </div>
                    </div>
                  </div>
                  <div>
                    <table class="w-full mt-6">
                      <thead>
                        <tr class="border  divide-x h-12">
                          <th class=" text-center text-sm">Bin Name</th>
                          <th class=" text-center text-sm">Bin Size</th>

                          <th class=" text-center text-sm">
                            Bin Property
                          </th>
                          <th class=" text-center text-sm">
                            Empty Label
                          </th>
                          <th class=" text-center text-sm">Creater</th>
                          <th class=" text-center text-sm">
                            Create Time
                          </th>
                          <th class=" text-center text-sm">
                            Update Time
                          </th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>
                </div>
              </div>

              <div v-if="activeTab === 'CYCLE COUNT'">
                <div class="h-[660px] p-4">
                  <div class="flex justify-between items-center">
                    <div class="flex gap-x-6 border p-1.5">
                       <div class="text-center hover:bg-[#d1d1d1]">
                        <button class="flex gap-x-2 ">
                            <span class="material-icons">refresh</span>
                            <span class="uppercase text-xl">single count</span>
                        </button>
                    </div>
                     <div class="text-center">
                        <button class="flex gap-x-2">
                            <span class="material-icons">cloud_download</span>
                           <span class="uppercase text-xl">counting table</span>
                        </button>
                    </div>
                    </div>

                    <div class="flex items-center">
                      <div
                        class="border border-[#d1d1d1] rounded-md p-2 text-white font-bold bg-[#9c27b0]"
                      >
                        CONFIRM RESULT
                      </div>
                    </div>
                  </div>
                  <div>
                    <table class="w-full mt-6">
                      <thead>
                        <tr class="border  divide-x h-12">
                          <th class=" text-center text-sm">Bin Name</th>
                          <th class=" text-center text-sm">
                            Goods Code
                          </th>

                          <th class=" text-center text-sm">
                            On-Hand-Inventory
                          </th>
                          <th class=" text-center text-sm">
                            Physical Inventory
                          </th>
                          <th class=" text-center text-sm">
                            Difference
                          </th>
                          <th class=" text-center text-sm">Action</th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>
                </div>
              </div>

              <div v-if="activeTab === 'COUNT RECORDER'">
                <div class="h-[660px] p-4">
                  <div class="flex justify-between items-center">
                      <div class="flex gap-x-6 border p-1.5">
                      <div class="text-center">
                        <button class="flex gap-x-2">
                            <span class="material-icons">refresh</span>
                            <span class="uppercase text-xl">refresh</span>
                        </button>
                    </div>
                    </div>

                    <div class="flex items-center">
                      <div
                        class="border border-[#d1d1d1] rounded-md p-2 text-white font-bold bg-[#9c27b0]"
                      >
                        DATE SELECTION
                      </div>
                    </div>
                  </div>
                  <div>
                    <table class="w-full mt-6">
                      <thead>
                        <tr class="border  divide-x h-12">
                          <th class=" text-center text-sm">Bin Name</th>
                          <th class=" text-center text-sm">
                            Goods Code
                          </th>

                          <th class=" text-center text-sm">
                            History Inventory
                          </th>
                          <th class=" text-center text-sm">
                            Physical Inventory
                          </th>
                          <th class=" text-center text-sm">
                            Difference
                          </th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>
                </div>
              </div>

              <div v-if="activeTab === 'SINGLE COUNT'">
                <div class="h-[660px] p-4">
                  <div class="flex justify-between items-center">
                    <div class="flex gap-x-6 border p-1.5">
                       <div class="text-center">
                        <button class="flex gap-x-2">
                            <span class="material-icons">refresh</span>
                            <span class="uppercase text-xl">single count</span>
                        </button>
                    </div>
                     <div class="text-center">
                        <button class="flex gap-x-2">
                            <span class="material-icons">cloud_download</span>
                           <span class="uppercase text-xl">counting table</span>
                        </button>
                    </div>
                    </div>

                    <div class="flex items-center">
                      <div
                        class="border border-[#d1d1d1] rounded-md p-2 text-white font-bold bg-[#9c27b0]"
                      >
                        CONFIRM RESULT
                      </div>
                    </div>
                  </div>
                  <div>
                    <table class="w-full mt-6">
                      <thead>
                        <tr class="border  divide-x h-12">
                          <th class=" text-center text-sm">Bin Name</th>
                          <th class=" text-center text-sm">
                            Goods Code
                          </th>

                          <th class=" text-center text-sm">
                            On-Hand Inventory
                          </th>
                          <th class=" text-center text-sm">
                            Physical Inventory
                          </th>
                          <th class=" text-center text-sm">
                            Difference
                          </th>
                          <th class=" text-center text-sm">Action</th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>
                </div>
              </div>

              <div v-if="activeTab === 'SINGLE COUNT RECORDER'">
                <div class="h-[660px] p-4">
                  <div class="flex justify-between items-center">
                      <div class="flex gap-x-6 border p-1.5">

                      <div class="text-center">
                        <button class="flex gap-x-2">
                            <span class="material-icons">refresh</span>
                            <span class="uppercase text-xl">refresh</span>
                        </button>
                    </div>
                    </div>

                    <div class="flex items-center">
                      <div
                        class="border border-[#d1d1d1] rounded-md p-2 text-white font-bold bg-[#9c27b0]"
                      >
                        DATE SELECTION
                      </div>
                    </div>
                  </div>
                  <div>
                    <table class="w-full mt-6">
                      <thead>
                        <tr class="border  divide-x h-12">
                          <th class=" text-center text-sm">Bin Name</th>
                          <th class=" text-center text-sm">
                            Goods Code
                          </th>

                          <th class=" text-center text-sm">
                            History Inventory
                          </th>
                          <th class=" text-center text-sm">
                            Physical Inventory
                          </th>
                          <th class=" text-center text-sm">
                            Difference
                          </th>
                          <th class=" text-center text-sm">
                            Count Time
                          </th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center mt-11 "><button class=" border-[#d1d1d1] p-1 hover:bg-[#d1d1d1] font-bold">NO MORE DATA</button></div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import LeftNavigationView from "../components/LeftNavigationView.vue";
import NavigationView from "../components/NavigationView.vue";

export default {
  name: "InventoryView",
  components: {
    NavigationView,
    LeftNavigationView,
  },
  data() {
    return {
      isNavOpen: true,
      tabs: [
        {
          name: "STOCK LIST",
          iconUrl: require("@/assets/inventory/stocklist.png"),
        },
        {
          name: "BIN LIST",
          iconUrl: require("@/assets/inventory/binset.png"),
        },
        {
          name: "EMPTY BIN",
          iconUrl: require("@/assets/inventory/baseline.png"),
        },
        {
          name: "OCCUPIED BIN",
          iconUrl: require("@/assets/inventory/inbox.png"),
        },
        {
          name: "CYCLE COUNT",
          iconUrl: require("@/assets/inventory/cyclecount.png"),
        },
        {
          name: "COUNT RECORDER",
          iconUrl: require("@/assets/inventory/cyclecountrecorder.png"),
        },
        {
          name: "SINGLE COUNT",
          iconUrl: require("@/assets/inventory/cyclecount.png"),
        },
        {
          name: "SINGLE COUNT RECORDER",
          iconUrl: require("@/assets/inventory/cyclecountrecorder.png"),
        },
      ],
      activeTab: "STOCK LIST",
    };
  },
  methods: {
    menuIconClickHandle(isClicked) {
      this.isNavOpen = isClicked;
    },
  },
};
</script>

<style></style>
