<template>
  <div>
    <button :style="differentstyle" @click="changstyle">{{ title }}</button>
  </div>
</template>

<script>
export default {
  name: "LifeCycle",
  data() {
    return {
      title: "LifeCycle",
      bgcolor: "orange",
      size: "50",
      color: "white",
    };
  },
  computed: {
    differentstyle() {
      return {
        "background-color": this.bgcolor,
        color: this.color,
        "font-size": this.size + "px",
      };
    },
  },
  methods: {
    changstyle() {
      setTimeout(() => {
        this.title = "LifeCycle Hooks";
        this.bgcolor = "red";
        this.color = "block";
        this.size = "80";
      }, 2000);
    },
  },
  mounted() {
    alert("mounted");
    this.changstyle();
  },
  updated() {
    setTimeout(() => {
      alert("updated");
    }, 1000);
  },
};
</script>

<style></style>
