<template>
  <div>
    <NavigationView
      :isNavOpenVar="isNavOpen"
      @menu-icon-click="menuIconClickHandle"
    />
    <section>
      <div class="flex">
        <LeftNavigationView :isLeftNavOpen="isNavOpen" />
        <div class="shrink-0 flex-1 h-full bg-gray-200">
          <div class="mt-4 p-4">
            <div class="flex">
              <div
                v-for="(tab, index) in tabs"
                :key="index"
                @click="activeTab = tab.name"
                :class="{
                  ' hover:bg-[#d1d1d1] border-b-2 border-black ':
                    activeTab === tab.name,
                  ' hover:bg-[#d1d1d1]': activeTab !== tab.name,
                }"
                class="px-4 py-2 items-center space-x-2 focus:outline-none"
              >
                <div>
                  <img :src="tab.iconUrl" alt="" class="w-6 h-6 mx-auto" />
                </div>
                <div>
                  <span class="text-black mb-0">{{ tab.name }}</span>
                </div>
              </div>
            </div>

            <div class="mt-4 p-4 bg-white shadow-2xl">
              <div v-if="activeTab === 'STAFF'">
                <div class="h-[660px] p-4">
                  <div class="flex justify-between items-center">
                   <div class="flex gap-x-6 border p-1.5">
                    <div class="text-center">
                        <button class="flex gap-x-2">
                            <span class="material-icons">add</span>
                             <span class="uppercase text-xl">new</span>
                        </button>
                    </div>
                     <div class="text-center">
                        <button class="flex gap-x-2">
                            <span class="material-icons">refresh</span>
                            <span class="uppercase text-xl">refresh</span>
                        </button>
                    </div>
                     <div class="text-center">
                        <button class="flex gap-x-2">
                            <span class="material-icons">cloud_download</span>
                           <span class="uppercase text-xl">download</span>
                        </button>
                    </div>
   </div>


                    <div class="flex items-center">
                      <div
                        class="border border-[#d1d1d1] rounded-2xl px-2 pt-1 hover:border-black"
                      >
                        <input
                          type="text"
                          placeholder="Search World"
                          class="outline-none mb-1"
                        /><span class="material-icons">search</span>
                      </div>
                    </div>
                  </div>
                  <div>
                    <table class="w-full mt-6">
                      <thead>
                        <tr class="border divide-x h-12">
                          <th class="text-center text-sm">Staff Name</th>

                          <th class="text-center text-sm">Staff Type</th>

                          <th class="text-center text-sm">Create Time</th>
                          <th class="text-center text-sm">Update Time</th>
                          <th class="text-center text-sm">Action</th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>
                </div>
              </div>

              <div v-if="activeTab === 'CHECK CODE'">
                <div class="h-[660px] p-4">
                  <div class="flex justify-between items-center">
                     <div class="flex gap-x-6 border p-1.5">
                      <div class="text-center">
                        <button class="flex gap-x-2">
                            <span class="material-icons">refresh</span>
                            <span class="uppercase text-xl">refresh</span>
                        </button>
                    </div>
                    </div>

                    <div class="flex items-center">
                      <div
                        class="border border-[#d1d1d1] rounded-2xl px-2 pt-1 hover:border-black"
                      >
                        <input
                          type="text"
                          placeholder="Search World"
                          class="outline-none mb-1"
                        /><span class="material-icons">search</span>
                      </div>
                    </div>
                  </div>
                  <div>
                    <table class="w-full mt-6">
                      <thead>
                        <tr class="border divide-x h-12">
                          <th class="text-center text-sm">Staff Name</th>

                          <th class="text-center text-sm">Staff Type</th>

                          <th class="text-center text-sm">Check Code</th>

                          <th class="text-center text-sm">Create Time</th>
                          <th class="text-center text-sm">Update Time</th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>
                </div>
              </div>

              <div v-if="activeTab === 'STAFF TYPE'">
                <div class="h-[660px] p-4">
                  <div class="flex justify-between items-center">
                     <div class="flex gap-x-6 border p-1.5">
                      <div class="text-center">
                        <button class="flex gap-x-2">
                            <span class="material-icons">refresh</span>
                            <span class="uppercase text-xl">refresh</span>
                        </button>
                    </div>
                    </div>
                  </div>
                  <div>
                    <table class="w-full mt-6">
                      <thead>
                        <tr class="border divide-x h-12">
                          <th class="text-center text-sm">Staff Type</th>

                          <th class="text-center text-sm">Creater</th>

                          <th class="text-center text-sm">Create Time</th>
                          <th class="text-center text-sm">Update Time</th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center mt-11">
              <button class="border-[#d1d1d1] p-1 hover:bg-[#d1d1d1] font-bold">
                NO MORE DATA
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import LeftNavigationView from "../components/LeftNavigationView.vue";
import NavigationView from "../components/NavigationView.vue";

export default {
  name: "DashboardView",
  components: {
    NavigationView,
    LeftNavigationView,
  },
  data() {
    return {
      isNavOpen: true,
      tabs: [
        {
          name: "STAFF",
          iconUrl: require("@/assets/staff/staff.png"),
        },
        {
          name: "CHECK CODE",
          iconUrl: require("@/assets/staff/check.png"),
        },
        {
          name: "STAFF TYPE",
          iconUrl: require("@/assets/staff/stafftype.png"),
        },
      ],
      activeTab: "STAFF",
    };
  },
  methods: {
    menuIconClickHandle(isClicked) {
      this.isNavOpen = isClicked;
    },
  },
};
</script>

<style></style>
