<template>
  <div>
    <h1>This is an about page</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
      aliquam sequi quas ipsa natus quod earum! Deserunt nihil dignissimos,
      voluptates nisi modi possimus dolor tempore recusandae, earum totam, eos
      vero.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
      aliquam sequi quas ipsa natus quod earum! Deserunt nihil dignissimos,
      voluptates nisi modi possimus dolor tempore recusandae, earum totam, eos
      vero.
    </p>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
