<template>
  <div class="home">
    <h1>HomePage</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
      aliquam sequi quas ipsa natus quod earum! Deserunt nihil dignissimos,
      voluptates nisi modi possimus dolor tempore recusandae, earum totam, eos
      vero.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
      aliquam sequi quas ipsa natus quod earum! Deserunt nihil dignissimos,
      voluptates nisi modi possimus dolor tempore recusandae, earum totam, eos
      vero.
    </p>
  </div>
</template>

<script>
export default {
  name: "HomeView",
};
</script>
